<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Algeco Scotsman Web API!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Coming Soon:</h3>
        <ol class="round">
            <li class="one">
                <h5>LDAP Api</h5>
                Acess to the LDAP with a variety of services
            </li>

            
        </ol>
    </section>
</div>
