<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="WSJDE" connectionString="metadata=res://*/WSJDEData.WSJDE.csdl|res://*/WSJDEData.WSJDE.ssdl|res://*/WSJDEData.WSJDE.msl;provider=Devart.Data.Oracle;provider connection string=&quot;user id=net_app;password=net_app;server=ws85corp.willscot.com;direct=True;sid=JDEC;persist security info=True&quot;" providerName="System.Data.EntityClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="QA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OverrideEmail" value="No" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OverrideEmailAddress" value="MobileWorkOrderNotifications@as.willscot.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserName" value="sjde1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="Willscot1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JDEEnvironment" value="PY811" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerName" value="172.17.3.85" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle" xdt:Transform="Insert"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.1.55.0, Culture=neutral, PublicKeyToken=09af7300eec23701" xdt:Transform="Insert"/>
    </DbProviderFactories>
  </system.data>
</configuration>
