<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="ASJDE" connectionString="metadata=res://*/ASJDE.ASJDE.csdl|res://*/ASJDE.ASJDE.ssdl|res://*/ASJDE.ASJDE.msl;provider=Devart.Data.Oracle;provider connection string=&quot;user id=net_app;password=net_app;server=ws83corp.willscot.com;direct=True;sid=jde;persist security info=True&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="webService" value="http://as1.algecoscotsman.com/passportaddon/video/videoplayer/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle" xdt:Transform="Insert"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.1.55.0, Culture=neutral, PublicKeyToken=09af7300eec23701" xdt:Transform="Insert"/>
    </DbProviderFactories>
  </system.data>
</configuration>